/src/torset
/src/stamp-h1
/src/Makefile.in
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/autoscan.log
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/src/config.hpp
/src/config.hpp.in
/src/.deps/torset.Po
/src/Makefile
/src/torset.o
/torset
/torset*.tar.gz
/src/torset.hpp.gch
